.vse {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 18px;
  }
  
  .vektorji {
    left: 0;
    background-color: white;
    padding-left: 30px;
  }
  
  .matrike {
    right: 0;
    background-color:turquoise;
  }
